docker/n8n/linkedin-weekly-post.json
{
  "name": "AInspiration - LinkedIn Weekly Post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 4"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Thursday 10:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ainspiration.eu/api/webhook/linkedin-post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "seopilot-ainspiration-secret-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "n8n-cron"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "retry": {
            "maxTries": 2,
            "retryInterval": 30000
          }
        }
      },
      "id": "http-request",
      "name": "Generate & Publish LinkedIn Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "content": "=LinkedIn post generated successfully!\n\nPost ID: {{ $json.postId }}\nPublished: {{ $json.published }}\n{{ $json.linkedinUrl ? 'URL: ' + $json.linkedinUrl : 'Status: ' + $json.status }}"
      },
      "id": "success-log",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "content": "=LinkedIn post generation FAILED!\n\nError: {{ $json.error || 'Unknown error' }}"
      },
      "id": "error-log",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Every Thursday 10:00": {
      "main": [
        [
          {
            "node": "Generate & Publish LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate & Publish LinkedIn Post": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Brussels",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": [
    {
      "name": "linkedin"
    },
    {
      "name": "ainspiration"
    }
  ],
  "triggerCount": 1,
  "active": false
}
