n8n-workflows/crm-ai-workflow.json
{
  "name": "CRM Intelligent - AInspiration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-ai",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook-main",
      "name": "Webhook CRM",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "crm-ai-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-lead-score",
              "leftValue": "={{ $json.action }}",
              "rightValue": "calculate_lead_score",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-insights",
              "leftValue": "={{ $json.action }}",
              "rightValue": "get_ai_insights",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-followup",
              "leftValue": "={{ $json.action }}",
              "rightValue": "get_followup_suggestions",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-analyze",
              "leftValue": "={{ $json.action }}",
              "rightValue": "analyze_opportunity",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-event",
              "leftValue": "={{ $json.action }}",
              "rightValue": "track_event",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Router Actions",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "anthropic/claude-3-haiku",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es un expert en qualification de leads B2B. Analyse les données du contact et calcule un score de 0 à 100.\n\nRéponds UNIQUEMENT en JSON valide avec cette structure exacte:\n{\n  \"contactId\": \"id du contact\",\n  \"score\": nombre entre 0 et 100,\n  \"factors\": {\n    \"engagement\": nombre 0-25,\n    \"recency\": nombre 0-25,\n    \"value\": nombre 0-25,\n    \"fit\": nombre 0-25\n  },\n  \"recommendation\": \"une phrase de recommandation\",\n  \"priority\": \"hot\" ou \"warm\" ou \"cold\"\n}\n\nCritères:\n- hot: score >= 70\n- warm: score 40-69\n- cold: score < 40\n- engagement: basé sur le nombre d'activités (max 25 pts)\n- recency: basé sur la fraîcheur de la dernière interaction (max 25 pts)\n- value: basé sur la valeur des opportunités (max 25 pts)\n- fit: basé sur la complétude du profil (max 25 pts)"
            },
            {
              "role": "user",
              "content": "=Analyse ce lead:\n\nContact: {{ $json.data.contact.first_name }} {{ $json.data.contact.last_name }}\nEmail: {{ $json.data.contact.email || 'Non renseigné' }}\nTéléphone: {{ $json.data.contact.phone || 'Non renseigné' }}\nEntreprise: {{ $json.data.contact.company_name || 'Non renseignée' }}\nPoste: {{ $json.data.contact.job_title || 'Non renseigné' }}\nSource: {{ $json.data.contact.lead_source || 'Inconnue' }}\n\nNombre d'activités: {{ $json.data.activityCount }}\nValeur totale opportunités: {{ $json.data.totalOpportunityValue }}€\nDernière activité: {{ $json.data.lastActivityDate || 'Aucune' }}\n\nOpportunités:\n{{ JSON.stringify($json.data.opportunities, null, 2) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        }
      },
      "id": "ai-lead-score",
      "name": "IA Lead Score",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [700, 100],
      "credentials": {
        "openAiApi": {
          "id": "openrouter-cred",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-3-haiku",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es un conseiller commercial IA expert en CRM. Analyse les statistiques et génère des insights actionnables.\n\nRéponds UNIQUEMENT en JSON valide avec un tableau d'insights:\n[\n  {\n    \"id\": \"insight-unique-id\",\n    \"type\": \"opportunity\" ou \"task\" ou \"contact\" ou \"general\",\n    \"title\": \"titre court (max 50 caractères)\",\n    \"description\": \"description (max 150 caractères)\",\n    \"action\": \"action recommandée (max 100 caractères)\",\n    \"priority\": \"high\" ou \"medium\" ou \"low\",\n    \"createdAt\": \"date ISO\"\n  }\n]\n\nGénère 3-5 insights pertinents basés sur les données."
            },
            {
              "role": "user",
              "content": "=Statistiques CRM:\n\nOpportunités totales: {{ $json.data.stats.totalOpportunities }}\nOpportunités actives: {{ $json.data.stats.activeOpportunities }}\nTâches en attente: {{ $json.data.stats.pendingTasks }}\nTâches en retard: {{ $json.data.stats.overdueTasks }}\nContacts: {{ $json.data.stats.totalContacts }}\n\nDétails opportunités:\n{{ JSON.stringify($json.data.opportunities.slice(0, 10), null, 2) }}\n\nDétails tâches:\n{{ JSON.stringify($json.data.tasks.slice(0, 10), null, 2) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.5,
          "maxTokens": 1000
        }
      },
      "id": "ai-insights",
      "name": "IA Insights",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [700, 300],
      "credentials": {
        "openAiApi": {
          "id": "openrouter-cred",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-3-haiku",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es un expert en relation client B2B. Analyse les contacts et suggère des actions de relance pertinentes.\n\nRéponds UNIQUEMENT en JSON valide avec un tableau de suggestions:\n[\n  {\n    \"contactId\": \"id du contact\",\n    \"contactName\": \"nom complet\",\n    \"reason\": \"raison de la relance (max 100 caractères)\",\n    \"suggestedAction\": \"action suggérée\",\n    \"suggestedDate\": \"date ISO YYYY-MM-DD\",\n    \"priority\": \"high\" ou \"medium\" ou \"low\",\n    \"template\": \"modèle d'email court et professionnel\"\n  }\n]\n\nPriorise:\n1. Contacts avec opportunités en négociation sans activité récente\n2. Contacts avec propositions envoyées\n3. Contacts inactifs depuis plus de 14 jours\n\nGénère max 10 suggestions."
            },
            {
              "role": "user",
              "content": "=Données CRM:\n\nContacts ({{ $json.data.contacts.length }}):\n{{ JSON.stringify($json.data.contacts.slice(0, 15), null, 2) }}\n\nOpportunités:\n{{ JSON.stringify($json.data.opportunities.slice(0, 15), null, 2) }}\n\nActivités récentes:\n{{ JSON.stringify($json.data.activities.slice(0, 20), null, 2) }}\n\nTâches existantes:\n{{ JSON.stringify($json.data.tasks.filter(t => !t.completed).slice(0, 10), null, 2) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.4,
          "maxTokens": 1500
        }
      },
      "id": "ai-followup",
      "name": "IA Follow-up",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [700, 500],
      "credentials": {
        "openAiApi": {
          "id": "openrouter-cred",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-3-haiku",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es un analyste commercial expert. Analyse l'opportunité et fournis une évaluation détaillée.\n\nRéponds UNIQUEMENT en JSON valide:\n{\n  \"analysis\": \"analyse de la situation (max 200 caractères)\",\n  \"recommendations\": [\"recommandation 1\", \"recommandation 2\", \"recommandation 3\"],\n  \"riskLevel\": \"low\" ou \"medium\" ou \"high\"\n}\n\nÉvalue:\n- Le temps passé dans le pipeline\n- La complétude des informations\n- L'activité récente\n- La probabilité de conversion"
            },
            {
              "role": "user",
              "content": "=Analyse cette opportunité:\n\nNom: {{ $json.data.opportunity.name }}\nÉtape: {{ $json.data.opportunity.stage }}\nValeur: {{ $json.data.opportunity.estimated_value || 0 }}€\nDate de création: {{ $json.data.opportunity.created_at }}\nDate de clôture prévue: {{ $json.data.opportunity.close_date || 'Non définie' }}\n\nContact associé:\n{{ JSON.stringify($json.data.contact, null, 2) }}\n\nActivités sur cette opportunité:\n{{ JSON.stringify($json.data.activities, null, 2) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 800
        }
      },
      "id": "ai-analyze",
      "name": "IA Analyze Opportunity",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [700, 700],
      "credentials": {
        "openAiApi": {
          "id": "openrouter-cred",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse la réponse IA et extrait le JSON\nconst aiResponse = $input.first().json.message?.content || $input.first().json.text || '';\n\n// Essayer d'extraire le JSON de la réponse\nlet result;\ntry {\n  // Chercher un objet ou tableau JSON dans la réponse\n  const jsonMatch = aiResponse.match(/[\\[\\{][\\s\\S]*[\\]\\}]/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    result = JSON.parse(aiResponse);\n  }\n} catch (e) {\n  // En cas d'erreur, retourner un objet d'erreur\n  result = { error: 'Impossible de parser la réponse IA', raw: aiResponse };\n}\n\nreturn [{ json: result }];"
      },
      "id": "parse-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log l'événement CRM\nconst event = $input.first().json;\n\nconsole.log('CRM Event tracked:', event.data.eventType);\nconsole.log('Event data:', JSON.stringify(event.data, null, 2));\n\n// On pourrait ici:\n// - Envoyer à un système d'analytics\n// - Stocker dans une base de données\n// - Déclencher des automatisations\n\nreturn [{ json: { success: true, eventType: event.data.eventType, timestamp: new Date().toISOString() } }];"
      },
      "id": "track-event",
      "name": "Track CRM Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 900]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Event tracked' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-event",
      "name": "Respond Event",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 900]
    }
  ],
  "connections": {
    "Webhook CRM": {
      "main": [
        [
          {
            "node": "Router Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Actions": {
      "main": [
        [
          {
            "node": "IA Lead Score",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IA Insights",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IA Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IA Analyze Opportunity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Track CRM Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Lead Score": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Insights": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Follow-up": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Analyze Opportunity": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track CRM Event": {
      "main": [
        [
          {
            "node": "Respond Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "CRM",
      "id": "crm-tag"
    },
    {
      "name": "AI",
      "id": "ai-tag"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-13T00:00:00.000Z",
  "versionId": "1"
}
