n8n-workflows/newsletter-automation.json
{
  "name": "Newsletter Automation - AInspiration",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 * * 4"
            }
          ]
        }
      },
      "id": "c60daaad-03af-4f09-b24d-0295ab09117c",
      "name": "Chaque Jeudi 15h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        2752,
        896
      ],
      "notes": "Déclenche le workflow chaque jeudi à 15h00 (heure de Bruxelles)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newsletter-generate",
        "options": {}
      },
      "id": "429b0ce7-5b86-4ba5-b7da-37e340d4d5c6",
      "name": "Webhook Generate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        2752,
        1104
      ],
      "webhookId": "newsletter-generate",
      "notes": "Webhook pour génération manuelle de contenu"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newsletter-send",
        "options": {}
      },
      "id": "a206bb1d-f632-42fc-9bb5-7a2d79cf4b56",
      "name": "Webhook Send",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        2752,
        1496
      ],
      "webhookId": "newsletter-send",
      "notes": "Webhook pour envoi manuel de newsletter depuis l'admin"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "newsletter_subscribers",
        "returnAll": true,
        "filterType": "string",
        "filterString": "status=eq.active"
      },
      "id": "0108c0c1-eda1-4b62-aa55-e6c776a1676b",
      "name": "Récupérer Abonnés Actifs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2976,
        896
      ],
      "credentials": {
        "supabaseApi": {
          "id": "czGJFIa29mQ1myND",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://ainspiration.eu"
            },
            {
              "name": "X-Title",
              "value": "AInspiration Newsletter"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-3.5-sonnet\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es le rédacteur de la newsletter hebdomadaire d'AInspiration (ainspiration.eu), une entreprise belge basée à Enghien qui accompagne les PME dans l'adoption de l'IA.\\n\\nSERVICES PROPOSÉS PAR AINSPIRATION (à mentionner naturellement dans les newsletters) :\\n- Audit IA gratuit en 24h : analyse des processus, identification des tâches automatisables, estimation du temps gagné, 3 recommandations prioritaires\\n- Automatisation intelligente : workflows sur mesure pour automatiser les tâches répétitives (emails, facturation, suivi commandes, qualification leads) — mise en place en 48h, 60% de temps gagné\\n- Assistants virtuels IA : chatbots service client 24/7 (30+ langues, 90% résolution auto), assistants d'analyse de données, assistants de processus\\n- CRM intelligent : vue client 360°, prévisions de ventes, qualification automatique des leads, reporting personnalisé\\n- Création visuelle IA : génération d'images professionnelles (4K, 10+ formats, droits inclus) pour tous supports de communication\\n- Rédaction IA : articles SEO, emails marketing, posts réseaux sociaux, fiches produits — multilingue\\n- Analyse IA avancée : analyse prédictive, monitoring temps réel, optimisation continue, 99.9% de précision\\n- Conseil stratégique IA : diagnostic (2-3 sem.), stratégie (3-4 sem.), exécution (2-6 mois) — ROI visible en 3 mois, -30% coûts opérationnels\\n- Formation IA pratique (3 jours) : ChatGPT avancé, génération d'images (Midjourney, DALL-E) — 98% satisfaction, applicable immédiatement\\n- Pack Express Automatisation : 1 workflow sur mesure, livré en 5 jours, 1490€ HTVA\\n\\nSECTEURS CIBLES : restaurants, e-commerce, agences marketing, cabinets conseil, avocats, comptables, architectes, artisans, indépendants, PME de 5 à 50+ employés\\n\\nRÉSULTATS CLIENTS : 180% ROI moyen, 60% réduction tâches répétitives, 45% gain productivité, 10h gagnées par semaine\\n\\nTon style :\\n- Professionnel mais chaleureux et accessible\\n- Pratique avec des exemples concrets issus de vrais secteurs d'activité\\n- Orienté action et bénéfices business mesurables\\n- En français, adapté au marché belge/francophone européen\\n- Tutoiement possible mais pas obligatoire\\n\\nStructure de la newsletter :\\n1. Un titre accrocheur (commence par # )\\n2. Une introduction courte qui capte l'attention (2-3 phrases max)\\n3. 2-3 sections thématiques avec des conseils pratiques, actualités IA ou cas d'usage concrets liés aux services AInspiration\\n4. Un appel à l'action clair vers l'audit gratuit ou un service spécifique\\n\\nIMPORTANT :\\n- Ne génère PAS de signature ni de footer (ajouté automatiquement)\\n- Varie les thèmes d'une semaine à l'autre\\n- Mentionne au moins un service AInspiration de manière naturelle et non publicitaire\\n- Donne de la vraie valeur : le lecteur doit apprendre quelque chose d'utile même sans être client\\n- Retourne uniquement le contenu texte, pas de JSON\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Génère la newsletter de cette semaine. Choisis un angle original parmi : automatisation, assistants IA, création de contenu, analyse de données, formation, ou actualité IA pour les PME. Date: {{ $now.format('DD/MM/YYYY') }}\"\n    }\n  ],\n  \"temperature\": 0.8,\n  \"max_tokens\": 1800\n}",
        "options": {}
      },
      "id": "b23dbfb3-36d6-4aa3-ad05-c2875af42daa",
      "name": "Générer Contenu (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3200,
        896
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DM6bbYVPNcmrmU3g",
          "name": "Header Auth account"
        },
        "openRouterApi": {
          "id": "gtjfsOGk7WrWy7p3",
          "name": "OpenRouter account"
        }
      },
      "notes": "Utilise OpenRouter avec Claude 3.5 Sonnet pour générer le contenu"
    },
    {
      "parameters": {
        "jsCode": "// Parse the OpenRouter response\nconst response = $input.first().json;\nconst content = response.choices[0].message.content;\n\n// Extract title from first line or generate one\nconst lines = content.split('\\n').filter(l => l.trim());\nlet subject = 'Newsletter AInspiration - Actualités IA';\nlet bodyContent = content;\n\n// Try to extract title if it starts with # or is the first line\nif (lines[0]) {\n  const firstLine = lines[0].replace(/^#+\\s*/, '').trim();\n  if (firstLine.length < 100) {\n    subject = firstLine;\n    bodyContent = lines.slice(1).join('\\n');\n  }\n}\n\n// Add current date to subject\nconst today = new Date();\nconst dateStr = today.toLocaleDateString('fr-FR', { day: 'numeric', month: 'long', year: 'numeric' });\nsubject = `${subject} - ${dateStr}`;\n\n// Get subscribers from previous node\nconst subscribers = $('Récupérer Abonnés Actifs').all();\n\n// Convert markdown-style content to HTML\nfunction markdownToHtml(text) {\n  return text.split('\\n').map(line => {\n    const trimmed = line.trim();\n    if (!trimmed) return '';\n    if (trimmed.startsWith('## ')) return `<h2 style=\"color: #4F46E5; margin-top: 25px; margin-bottom: 10px; font-size: 20px;\">${trimmed.replace(/^## /, '')}</h2>`;\n    if (trimmed.startsWith('### ')) return `<h3 style=\"color: #374151; margin-top: 20px; margin-bottom: 8px; font-size: 17px;\">${trimmed.replace(/^### /, '')}</h3>`;\n    if (trimmed.startsWith('- ') || trimmed.startsWith('* ')) return `<li style=\"margin-bottom: 6px;\">${trimmed.replace(/^[-*] /, '').replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')}</li>`;\n    return `<p style=\"margin-bottom: 12px;\">${trimmed.replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')}</p>`;\n  }).join('\\n');\n}\n\nconst htmlBody = markdownToHtml(bodyContent);\n\n// Generate HTML version\nconst htmlContent = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>${subject}</title>\n</head>\n<body style=\"font-family: 'Segoe UI', Arial, sans-serif; line-height: 1.7; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f3f4f6;\">\n  <div style=\"background-color: white; padding: 35px; border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.08);\">\n    <!-- Header -->\n    <div style=\"text-align: center; margin-bottom: 30px; padding-bottom: 20px; border-bottom: 2px solid #EEF2FF;\">\n      <h1 style=\"color: #4F46E5; margin: 0; font-size: 28px; letter-spacing: -0.5px;\">AInspiration</h1>\n      <p style=\"color: #6B7280; margin-top: 5px; font-size: 14px;\">L'IA accessible aux PME</p>\n    </div>\n    \n    <!-- Content -->\n    <div style=\"color: #374151; font-size: 15px;\">\n      ${htmlBody}\n    </div>\n    \n    <!-- CTA -->\n    <div style=\"text-align: center; margin: 35px 0; padding: 25px; background: linear-gradient(135deg, #EEF2FF, #E0E7FF); border-radius: 10px;\">\n      <p style=\"margin: 0 0 15px 0; color: #374151; font-weight: 600;\">Prêt à gagner 10h par semaine grâce à l'IA ?</p>\n      <a href=\"https://ainspiration.eu/contact\" style=\"display: inline-block; background-color: #4F46E5; color: white; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-weight: bold; font-size: 15px;\">Demander mon audit gratuit</a>\n    </div>\n    \n    <!-- Footer -->\n    <div style=\"border-top: 1px solid #E5E7EB; padding-top: 20px; margin-top: 30px; text-align: center; color: #6B7280; font-size: 12px;\">\n      <p style=\"margin: 5px 0; font-weight: bold;\">AInspiration - L'IA au service des PME</p>\n      <p style=\"margin: 5px 0;\">Grand Place 50, 7850 Enghien, Belgique</p>\n      <p style=\"margin: 5px 0;\">Tel: +32 477 94 28 65</p>\n      <p style=\"margin: 5px 0;\"><a href=\"https://ainspiration.eu\" style=\"color: #4F46E5;\">www.ainspiration.eu</a></p>\n      <p style=\"margin: 15px 0 5px 0;\"><a href=\"{{UNSUBSCRIBE_URL}}\" style=\"color: #9CA3AF; font-size: 11px;\">Se désabonner de cette newsletter</a></p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  subject,\n  content: bodyContent,\n  html_content: htmlContent,\n  generated_at: new Date().toISOString(),\n  subscribers: subscribers\n};"
      },
      "id": "16a70aeb-0f8e-4c77-a55a-18be8553b34a",
      "name": "Formater Newsletter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        896
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://inksxnkunsflohglbjid.supabase.co/rest/v1/newsletters",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"html_content\": {{ JSON.stringify($json.html_content) }},\n  \"status\": \"scheduled\"\n}",
        "options": {}
      },
      "id": "621b5ef1-570f-40c3-b790-6ff457db8e19",
      "name": "Sauvegarder Newsletter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3648,
        896
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare email for each subscriber in the batch\n// HTTP response returns an array, so we need to get the first element\nconst savedNewsletter = $('Sauvegarder Newsletter').first().json;\nconst newsletter = Array.isArray(savedNewsletter) ? savedNewsletter[0] : savedNewsletter;\nconst subscribers = $('Récupérer Abonnés Actifs').all();\n\nconst emails = subscribers.map(sub => {\n  const unsubscribeUrl = `https://ainspiration.eu/unsubscribe?token=${sub.json.unsubscribe_token}`;\n  const htmlWithUnsubscribe = newsletter.html_content.replace('{{UNSUBSCRIBE_URL}}', unsubscribeUrl);\n  \n  return {\n    to: sub.json.email,\n    subject: newsletter.subject,\n    html: htmlWithUnsubscribe,\n    text: newsletter.content + `\\n\\n---\\nPour vous désabonner: ${unsubscribeUrl}`,\n    subscriber_id: sub.json.id,\n    newsletter_id: newsletter.id\n  };\n});\n\nreturn emails;"
      },
      "id": "74274e43-27f8-47fb-8b5c-7e3021991ad4",
      "name": "Préparer Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3872,
        896
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "replyTo": "info@ainspiration.eu"
        }
      },
      "id": "98a62566-bdbb-4381-9152-19846876b73f",
      "name": "Envoyer Email (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4096,
        896
      ],
      "webhookId": "5f7dfd6a-6df6-4fa7-9457-e6c511094833",
      "credentials": {
        "gmailOAuth2": {
          "id": "qDwjP4YdFZrQ5vv9",
          "name": "Gmail account"
        }
      },
      "notes": "Envoie via Gmail OAuth2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://inksxnkunsflohglbjid.supabase.co/rest/v1/newsletter_send_logs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ newsletter_id: $('Préparer Emails').all()[$itemIndex].json.newsletter_id, subscriber_id: $('Préparer Emails').all()[$itemIndex].json.subscriber_id, status: 'sent' }) }}",
        "options": {}
      },
      "id": "f55bf989-fa0a-4d0b-a1d8-b4b9f59b8a48",
      "name": "Logger Envoi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4320,
        896
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://inksxnkunsflohglbjid.supabase.co/rest/v1/newsletters?id=eq.{{ $('Préparer Emails').all()[$itemIndex].json.newsletter_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"sent\",\n  \"sent_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "acc6446d-c854-4155-b6c1-4e342f8e1f8a",
      "name": "Mettre à jour statut",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4544,
        896
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://ainspiration.eu"
            },
            {
              "name": "X-Title",
              "value": "AInspiration Newsletter"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-3.5-sonnet\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es le rédacteur de la newsletter d'AInspiration (ainspiration.eu), une entreprise belge basée à Enghien qui accompagne les PME dans l'adoption de l'IA.\\n\\nSERVICES PROPOSÉS PAR AINSPIRATION :\\n- Audit IA gratuit en 24h : analyse des processus, identification des tâches automatisables, 3 recommandations prioritaires\\n- Automatisation intelligente : workflows sur mesure (emails, facturation, suivi commandes, qualification leads) — 48h de mise en place, 60% de temps gagné\\n- Assistants virtuels IA : chatbots 24/7 (30+ langues, 90% résolution auto), assistants d'analyse, assistants de processus\\n- CRM intelligent : vue 360°, prévisions de ventes, qualification auto des leads\\n- Création visuelle IA : images pro (4K, droits inclus) pour tous supports\\n- Rédaction IA : articles SEO, emails marketing, posts réseaux sociaux, fiches produits — multilingue\\n- Analyse IA avancée : analyse prédictive, monitoring temps réel\\n- Conseil stratégique IA : diagnostic, stratégie, exécution — ROI visible en 3 mois\\n- Formation IA (3 jours) : ChatGPT avancé, Midjourney, DALL-E — 98% satisfaction\\n- Pack Express : 1 workflow sur mesure, 5 jours, 1490€ HTVA\\n\\nSecteurs cibles : restaurants, e-commerce, agences marketing, cabinets conseil, artisans, indépendants, PME 5-50+ employés\\nRésultats : 180% ROI, 60% réduction tâches répétitives, 10h gagnées/semaine\\n\\nStyle : professionnel, accessible, pratique, orienté action. Français adapté au marché belge/européen.\\n\\nStructure :\\n1. Titre accrocheur (commence par # )\\n2. Introduction courte (2-3 phrases)\\n3. 2-3 sections avec conseils pratiques ou cas d'usage\\n4. Appel à l'action vers l'audit gratuit\\n\\nNe génère PAS de signature. Retourne le contenu en texte brut.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Génère une newsletter sur: {{ $json.body.topic || 'les dernières tendances IA et comment les PME peuvent en bénéficier' }}\"\n    }\n  ],\n  \"temperature\": 0.8,\n  \"max_tokens\": 1800\n}",
        "options": {}
      },
      "id": "2d6b61d3-81a7-4a8b-bf31-5a89d6fba99a",
      "name": "Générer Contenu Manuel (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2976,
        1104
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DM6bbYVPNcmrmU3g",
          "name": "Header Auth account"
        },
        "openRouterApi": {
          "id": "gtjfsOGk7WrWy7p3",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\n\nconst lines = content.split('\\n').filter(l => l.trim());\nlet subject = 'Newsletter AInspiration';\nlet bodyContent = content;\n\nif (lines[0]) {\n  const firstLine = lines[0].replace(/^#+\\s*/, '').trim();\n  if (firstLine.length < 100) {\n    subject = firstLine;\n    bodyContent = lines.slice(1).join('\\n');\n  }\n}\n\nreturn {\n  subject,\n  content: bodyContent\n};"
      },
      "id": "ae9c4163-f1c1-4827-9c9b-f3f3ddd402de",
      "name": "Formater Manuel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        1104
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ subject: $json.subject, content: $json.content }) }}",
        "options": {}
      },
      "id": "ec65dc48-7610-4e8a-afec-a5f2d861880a",
      "name": "Répondre Generate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3440,
        1104
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare emails from webhook body (manual send from admin)\nconst webhookData = $('Webhook Send').first().json.body;\nconst newsletter = webhookData.newsletter;\nconst subscribers = webhookData.subscribers || [];\n\nif (!newsletter || !newsletter.subject) {\n  throw new Error('Missing newsletter data in webhook body');\n}\n\nif (subscribers.length === 0) {\n  throw new Error('No subscribers provided');\n}\n\n// Generate HTML if not provided\nfunction markdownToHtml(text) {\n  if (!text) return '';\n  return text.split('\\n').map(line => {\n    const trimmed = line.trim();\n    if (!trimmed) return '';\n    if (trimmed.startsWith('## ')) return `<h2 style=\"color: #4F46E5; margin-top: 25px; margin-bottom: 10px; font-size: 20px;\">${trimmed.replace(/^## /, '')}</h2>`;\n    if (trimmed.startsWith('### ')) return `<h3 style=\"color: #374151; margin-top: 20px; margin-bottom: 8px; font-size: 17px;\">${trimmed.replace(/^### /, '')}</h3>`;\n    if (trimmed.startsWith('- ') || trimmed.startsWith('* ')) return `<li style=\"margin-bottom: 6px;\">${trimmed.replace(/^[-*] /, '').replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')}</li>`;\n    return `<p style=\"margin-bottom: 12px;\">${trimmed.replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')}</p>`;\n  }).join('\\n');\n}\n\nconst htmlBody = newsletter.html_content || `\n<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"font-family: 'Segoe UI', Arial, sans-serif; line-height: 1.7; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f3f4f6;\">\n  <div style=\"background-color: white; padding: 35px; border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.08);\">\n    <div style=\"text-align: center; margin-bottom: 30px; padding-bottom: 20px; border-bottom: 2px solid #EEF2FF;\">\n      <h1 style=\"color: #4F46E5; margin: 0; font-size: 28px;\">AInspiration</h1>\n      <p style=\"color: #6B7280; margin-top: 5px; font-size: 14px;\">L'IA accessible aux PME</p>\n    </div>\n    <div style=\"color: #374151; font-size: 15px;\">${markdownToHtml(newsletter.content)}</div>\n    <div style=\"text-align: center; margin: 35px 0; padding: 25px; background: linear-gradient(135deg, #EEF2FF, #E0E7FF); border-radius: 10px;\">\n      <p style=\"margin: 0 0 15px 0; color: #374151; font-weight: 600;\">Prêt à gagner 10h par semaine grâce à l'IA ?</p>\n      <a href=\"https://ainspiration.eu/contact\" style=\"display: inline-block; background-color: #4F46E5; color: white; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-weight: bold;\">Demander mon audit gratuit</a>\n    </div>\n    <div style=\"border-top: 1px solid #E5E7EB; padding-top: 20px; margin-top: 30px; text-align: center; color: #6B7280; font-size: 12px;\">\n      <p style=\"margin: 5px 0; font-weight: bold;\">AInspiration - L'IA au service des PME</p>\n      <p style=\"margin: 5px 0;\">Grand Place 50, 7850 Enghien, Belgique</p>\n      <p style=\"margin: 5px 0;\">Tel: +32 477 94 28 65</p>\n      <p style=\"margin: 5px 0;\"><a href=\"https://ainspiration.eu\" style=\"color: #4F46E5;\">www.ainspiration.eu</a></p>\n      <p style=\"margin: 15px 0 5px 0;\"><a href=\"{{UNSUBSCRIBE_URL}}\" style=\"color: #9CA3AF; font-size: 11px;\">Se désabonner</a></p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconst emails = subscribers.map(sub => {\n  const unsubscribeUrl = `https://ainspiration.eu/unsubscribe?token=${sub.unsubscribe_token}`;\n  const html = htmlBody.replace(/\\{\\{UNSUBSCRIBE_URL\\}\\}/g, unsubscribeUrl);\n  \n  return {\n    to: sub.email,\n    subject: newsletter.subject,\n    html: html,\n    text: (newsletter.content || newsletter.subject) + `\\n\\n---\\nPour vous désabonner: ${unsubscribeUrl}`,\n    subscriber_id: sub.id,\n    newsletter_id: newsletter.id\n  };\n});\n\nreturn emails;"
      },
      "id": "d1a2b3c4-e5f6-7890-abcd-ef1234567890",
      "name": "Préparer Emails Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        1496
      ],
      "notes": "Prépare les emails à partir des données envoyées par le frontend"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "replyTo": "info@ainspiration.eu"
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Envoyer Email Webhook (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3200,
        1496
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "qDwjP4YdFZrQ5vv9",
          "name": "Gmail account"
        }
      },
      "notes": "Envoie les emails via Gmail (chemin webhook)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://inksxnkunsflohglbjid.supabase.co/rest/v1/newsletter_send_logs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ newsletter_id: $('Préparer Emails Webhook').all()[$itemIndex].json.newsletter_id, subscriber_id: $('Préparer Emails Webhook').all()[$itemIndex].json.subscriber_id, status: 'sent' }) }}",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Logger Envoi Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3424,
        1496
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://inksxnkunsflohglbjid.supabase.co/rest/v1/newsletters?id=eq.{{ $('Préparer Emails Webhook').all()[$itemIndex].json.newsletter_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"sent\",\n  \"sent_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Mettre à jour statut Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3648,
        1496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Newsletter envoyée avec succès' }) }}",
        "options": {}
      },
      "id": "e608b700-ccea-47df-b49b-dec7e4f8dcfa",
      "name": "Répondre Send",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3872,
        1496
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chaque Jeudi 15h": {
      "main": [
        [
          {
            "node": "Récupérer Abonnés Actifs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer Abonnés Actifs": {
      "main": [
        [
          {
            "node": "Générer Contenu (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Générer Contenu (OpenRouter)": {
      "main": [
        [
          {
            "node": "Formater Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater Newsletter": {
      "main": [
        [
          {
            "node": "Sauvegarder Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sauvegarder Newsletter": {
      "main": [
        [
          {
            "node": "Préparer Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer Emails": {
      "main": [
        [
          {
            "node": "Envoyer Email (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer Email (Gmail)": {
      "main": [
        [
          {
            "node": "Logger Envoi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger Envoi": {
      "main": [
        [
          {
            "node": "Mettre à jour statut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Generate": {
      "main": [
        [
          {
            "node": "Générer Contenu Manuel (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Générer Contenu Manuel (OpenRouter)": {
      "main": [
        [
          {
            "node": "Formater Manuel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater Manuel": {
      "main": [
        [
          {
            "node": "Répondre Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Send": {
      "main": [
        [
          {
            "node": "Préparer Emails Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer Emails Webhook": {
      "main": [
        [
          {
            "node": "Envoyer Email Webhook (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer Email Webhook (Gmail)": {
      "main": [
        [
          {
            "node": "Logger Envoi Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger Envoi Webhook": {
      "main": [
        [
          {
            "node": "Mettre à jour statut Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mettre à jour statut Webhook": {
      "main": [
        [
          {
            "node": "Répondre Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b23081b0-5b69-4469-929e-b3c3bd2c3d4e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "286e57e2238236a75e7b8a6b10da97a21ae06ebc3ce3766f07caad6603e9c745"
  },
  "id": "36K717g1IpDdihEQ",
  "tags": [
    {
      "name": "newsletter",
      "id": "KMYzXVItJvbt2rQ3",
      "updatedAt": "2026-01-14T15:07:13.570Z",
      "createdAt": "2026-01-14T15:07:13.570Z"
    },
    {
      "name": "automation",
      "id": "21BBei2wqCSKFNGo",
      "updatedAt": "2026-01-14T15:07:13.575Z",
      "createdAt": "2026-01-14T15:07:13.575Z"
    }
  ]
}
